---
layout: default
---
<div class="piece-details-container">
    <div class="piece-full">
        <img class="piece-full-img" src="{{ 'assets/images/' | append:  page.source | relative_url }}">
    </div>
    <div class="details-wrapper">
        <div class="details">

            <div class="details-title">{{ page.title }}</div>
            <div class="title-bullet">
                <img class="title-bullet-img" src="{{ 'assets/images/circle.png' | relative_url }}">
            </div>

            <div class="details-date">{{ page.date | date: "%-d %B %Y" }}</div>
            <div class="details-material">{{ page.materials }}</div>

            <div class="tags">
                {% for tag in page.tags %}
                    <div class="tag">
                        {% assign found_tag = site.tags | where: "tag", tag | first %}
                        {% if found_tag != nil %}
                            <a class="tag-link" href="{{ 'tags/' | append: tag | append: '.html' | relative_url }}">#{{ found_tag.tag }}</a>
                        {% else %}
                            <span class="tag-non-link">#{{ tag }}</span>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        
            
            {{ content }}

        </div>
        
    </div>
    <div class="copyright">
        <div class="copyright-text"><small>Copyright &copy; 2022 Jessica Clark</small></div>
    </div>
</div>

